<h1>Add Song</h1>
<form ng-submit="vm.addSong(vm.song)" role="form">
   <div class="form-group">
      <label for="name">Name</label> 
      <input type="text" name="name" id="name" class="form-control" ng-model="vm.song.name" value="{{vm.song.name}}" required /> 
   </div>
   <div class="form-group">
      <label for="artist">Artist</label> 
      <input type="text" name="artist" id="artist" class="form-control" ng-model="vm.song.artist" value="{{vm.song.artist}}" required /> 
   </div>
   <div class="form-group">
      <label for="album">Album</label> 
      <input type="text" name="album" id="album" class="form-control" ng-model="vm.song.album" value="{{vm.song.album}}" required /> 
   </div>
   <div class="form-group">
      <label for="year">Year</label> 
      <input type="text" name="year" id="year" class="form-control" ng-model="vm.song.year" value="{{vm.song.year}}" required /> 
   </div>
   <button type="submit" class="btn btn-primary">Save Song</button>
</form>
</br>
<a href="#/" class="btn btn-primary">Menu</a>