   <div class="container">
<!--       <div class="col-lg-10"> -->
<!--          Name: <input type="text" data-ng-model="name"/> -->
<!--       </div> -->
      <div class="col-lg-10">
<!--          <ul> -->
<!--             <li data-ng-repeat="cust in customers | filter:name">{{ cust.name }} - {{ cust.city}}</li> -->
<!--          </ul> -->
<!--          <ul> -->
<!--             <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">{{ cust.name }} - {{ cust.city}}</li> -->
<!--          </ul> -->
         hello 2
         <br/>
         <a href="#/view1">View 1</a>
      </div>
   </div>